.hidden {
	display:none !important;
	visibility:hidden !important;
}

.palette-frame
{
	font-family:Arial,sans-serif;
	font-weight:bold;
	color:black;
	background-color:#e0e0e0;
	margin:0px;
	padding:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-style:solid;
	border-color:#a0a0a0;
	border-width:1px;
	box-shadow: 2px 2px 4px 1px #777777;
	min-height:20em;
	max-height:20em;
	min-width:300px;
	max-width:300px;
	overflow:hidden;
	position:fixed;
	opacity:0.3;
	top:80px;
	right:-288px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-ms-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}

.palette-frame:hover
{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	box-shadow: 4px 4px 8px 1px #444444;
	min-height:20em !important;
	min-width:300px;
	max-width:500px !important;
	max-height:70% !important;
	overflow:auto;
	opacity:0.9;
	right:10px;
/*	z-index:1;*/
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.palette-button
{
	display: inline-block;
	text-align : center;
	background-color:#e0e0e0;
	border-width:1px;
	border-style: solid;
	border-color:#d0d0d0;
	min-height:2em !important;
	min-width:2em;
	max-width:2em !important;
	max-height:2em !important;
/*	box-shadow: inset 2px 2px 2px 0px #ffffff,inset -2px -2px 2px 0px #a0a0a0;*/
}

.palette-button:hover
{
	display: inline-block;
	text-align : center;
	background-color:#d0d0d0;
	border-width:1px;
	border-style: solid;
	border-color:#d0d0d0;
	min-height:2em !important;
	min-width:2em;
	max-width:2em !important;
	max-height:2em !important;
/*	box-shadow: inset 2px 2px 2px 0px #f0f0f0,inset -2px -2px 2px 0px #909090;*/
}
